<%- include('header') -%>

<h1 class="ui huge header">PLATFORMS</h1>

<div class="ui link cards">
  <% data.forEach(function (d){ %>
  <div class="card">
    <div class="content">
      <a class="header"><%= d.name %></a>
      <div class="description">
        Made by: <strong><%= d.company %>, <%= d.country %></strong>
      </div>
      <div class="meta">
        Year made: <strong><%= d.year_made %></strong>
        </div>
    </div>
  </div>
  <% }) %>
</div>

<%- include('footer') -%>
